/*--------------------------------------------------------------------------*
                                    ABOUT
        Hoja de estilo de halloween.html
        Autor: Sergio Ramos Alarcón
        Versión: 2.0
        Fecha: Noviembre de 2023
        Comentario: Trabajo de lenguajes de marcas
----------------------------------------------------------------------------*/

/*  External fonts */

/* #text1 */

@font-face {
    font-family: secret;
    src: url(../font/SecretHalloween.ttf);
}

/* #text2 */

@font-face {
    font-family: hellohalloween;
    src: url(../font/FontsFree-Net-Hello-Halloween.ttf);
}

/* #text3 */

@font-face {
    font-family: halloweenparty;
    src: url(../font/FontsFree-Net-HalloweenPartyRegular.ttf);
}

/* Background for my page */

body{
    background-color: black;
    background-image: url(../img/background.jpg);
}

/* A few edits for my image */

.background-img {
    object-fit: cover;
    height: 100vh; 
    width: 100vw; 
    z-index: -1; 
}

/* Signs */

#text1 {
    color: white;
    font-family: secret ;
    font-size: 60px;
    padding-left: 860px;
    padding-top: 20px;
}

/* Animation for #text1 */

#text1:hover {
    color: red;
    animation: text1;
    animation-duration: 5s;
}

#text2 {
    font-family: hellohalloween;
    color: orange;
    font-size: 60px;
    padding-left: 520px;
    padding-top: 200px;
}

/* Not used */

/* #text2:hover {
    color: blue;
    } */

#text3 {
    font-family: halloweenparty;
    color: red;
    font-size: 60px;
    padding-top: 150px;
    padding-left: 1200px;
}

/* Not used */

/* #text3:hover {
    color: orange;
} */


/* Not used */

/* 
#scenario {
    width: 2040px;
    height: 1040px; 
    background-image: url(../img/background.jpg);
    margin: auto;
    position: relative;
*/

/* Scream containers */

#desktop{
    width: 150px;
    height: 140px;
/*     border: 2px solid orange; */
    position: absolute;
    left: 555px;
    top: 465px;
}

#eye{
    width: 50px;
    height: 50px;
/*     border: 2px solid red; */
    position: absolute;
    left: 1070px;
    top: 390px;
}

#camera{
    width: 20px;
    height: 20px;
/*     border: 2px solid green; */
    position: absolute;
    top: 775px;
    left: 1455px;
}

/* Screamers */

/* Jeff */

#jeff{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    visibility: hidden;
}

/* Fnaf */

#fnaf{
    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;
    width: 1920px;
    height: 1080px;
}

/* Rayo */

#rayo{
    position: absolute;
    top: 100px;
    left: 695px;
    width: 120px;
    visibility:hidden;
    animation-name: animation-rayo;
    animation-duration: 40s;
}

/* Keyframes */

/* Animation for #text1 */

@keyframes text1 {
    from {
        opacity: 0;
        left: 0px;
    }
    to {
        opacity: 1;
        left: 500px;
    }
}

/* Animation for #rayo */

@keyframes animation-rayo {
    0%   {
        left:200px; top:200px;
    }

    25%  {
        left:400px; top:100px;
    }

    50%  {
        left:600px; top:400px;
    }

    75%  {
        left:800px; top:400px;
    }

    100% {
        left:1000px; top:100px;
    }
}