ab/**------------------------------------------------------------------------
                                    ABOUT
        Hoja de estilo de tortilla.html
        Autor: Sergio Ramos Alarón
        Versión: 1.0
        Fecha: Octubre de 2023
        Comentario: Trabajo de lenguajes de m
 *------------------------------------------------------------------------**/

body {
    background-color: red;
}